@font-face{
    font-family: LTAvenir;
    src: url(../font-families/avenir/AvenirLTStd-Light.otf);
}

* {
    font-family: LTAvenir;
    color: white;
    margin: 0;
}

body{
    background: #00C8FF;
}

header{
    background: url(../img/blue-slant.svg) no-repeat bottom/100%,
                         #FFF url(../img/background.png) no-repeat center/100%;
}

.pro-pic {
    display: flex;
    width: 30%;
    border-radius: 50%;
    margin: auto;
    padding-top: 3%;
}

h1 {
    width: 100%;
    margin-top: 3%;
    text-align: center;
    font-size: 5em;
}

h2 {
    font-size: 3em;
}

main {
    margin: 5%;
}

p {
    padding-top: 1%;
    font-size: 3em;
    line-height: 1.6em;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
    padding: 10% 0;
    font-size: 3em;
    font-weight: bolder;
}

.github {
    width: 20%;
    padding-right: 2%;
}

.linked-in {
    width: 20%;
    padding-right: 2%;
}

.social-links {
    padding-top: 6%;
    display: flex;
    justify-content: flex-end;
}

footer{
    background: url(../img/white-slant.svg) no-repeat center/cover;
}